name: Build .NET version

on:
  # run it on push to the default repository branch
  push:
    branches: [ main ]
    paths:
      - "csharp/**"
  # run it during pull request
  pull_request:
    paths:
      - "csharp/**"

defaults:
  run:
    working-directory: csharp

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: Check Out Repo
        uses: actions/checkout@v3

      - name: Setup .NET Core
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: "7.0.x"

      - name: Restore NuGet packages
        run: dotnet restore

      - name: Build
        run: dotnet build --configuration Release --no-restore

      - name: Run tests
        run: dotnet test --configuration Release --no-build --filter Category!=SkipCI
